autostart
cef_user_data
chromium
clipit
Code
Code - OSS
dconf
discord
dmenu-recent
dunst
Electron
enchant
epdfview
falkon
gconf
github-copilot
goa-1.0
gtk-2.0
gtk-3.0
hexchat
htop
JetBrains
Kvantum
libfm
libreoffice
manjaro
manjaro-hello.json
mimeapps.list
morc_menu
nautilus
nitrogen
OpenRGB
pavucontrol.ini
pcmanfm
picom.conf
polybar
pulse
pulseaudio-ctl
pywal-discord
pywal-discord-default.css
qt5ct
QtProject.conf
ranger
rstudio
RStudio
spotify
spotify-tui
systemd
tlpui
user-dirs.dirs
user-dirs.locale
viewnior
vlc
volumeicon
xarchiver
xfce4
yay
neofetch
alacritty

.zcompdump
.DS_Store
